## Introduction
This is an introduction to building a neural network in Python.

In this code I follow this [example](https://machinelearningmastery.com/tutorial-first-neural-network-python-keras/) available at Machine Learning Mastery site

In [17]:
# load modules
import pandas as pd
import numpy as np
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [27]:
# load data
# add columns from description
data = pd.read_csv("https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv",
                   header=None,names=['times_pregnant','plasma_glucose_concentration',
                                      'diastolic_bp_mmhg','tricep_skin_thickness','2_hour_serum_insulin',
                                     'bmi','diabetes_pedigree','age','class'])

In [28]:
# check top 5 rows
data.head()

,times_pregnant,plasma_glucose_concentration,diastolic_bp_mmhg,tricep_skin_thickness,2_hour_serum_insulin,bmi,diabetes_pedigree,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [29]:
# get data overview
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   times_pregnant                768 non-null    int64
 1   plasma_glucose_concentration  768 non-null    int64
 2   diastolic_bp_mmhg             768 non-null    int64
 3   tricep_skin_thickness         768 non-null    int64
 4   2_hour_serum_insulin          768 non-null    int64
 5   bmi                           768 non-null    float64
 6   diabetes_pedigree             768 non-null    float64
 7   age                           768 non-null    int64
 8   class                         768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [30]:
# data summary
data.describe()

,times_pregnant,plasma_glucose_concentration,diastolic_bp_mmhg,tricep_skin_thickness,2_hour_serum_insulin,bmi,diabetes_pedigree,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000